<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_YUZjcpJrzD4P2Qf5-d6Up2s3uhFMQiE</string>
	<key>GCM_SENDER_ID</key>
	<string>431463352311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utec.dalleproyecto.com.DallE</string>
	<key>PROJECT_ID</key>
	<string>dalle-etps4</string>
	<key>STORAGE_BUCKET</key>
	<string>dalle-etps4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431463352311:ios:b0d54c88ddaf7ded4910f2</string>
</dict>
</plist>